.walkerfullCalender{
    font-family: $font-sans;
    font-size:2em;
    margin: 1em;
   
}
.walkercalenderContainer{
    grid-area: 1/2;
    // border: solid .25em $color-accentOne;
    // border-radius: 1em;
    // box-shadow: 0em 0em .5em .5em $color-medium;
    margin:1em;
    font-family: $font-sans;
    z-index: 0;
    // width: 120em;
    // padding-left: 6em;
    
}
th.fc-day-header{
    font-family: $font-sans;
    color: $color-accentOne;
}
h2{
    font-family: $font-sans;
    color: $color-accentOne;
}
a{
    font-family: $font-sans;
    color: $color-accentOne;
}
.css-10nd86i{
    color: $color-darkest;
}
.walkerScheduleWalksContainer{
    grid-area: 1/1;
    border: solid .25em $color-accentOne;
    border-radius: 1em;
    box-shadow: 0em 0em .5em .5em $color-medium;
    margin:1em;

}
.walkerFullscheduleWrap{
    display:grid;
    // grid-template-columns: auto auto ;
    // grid-template-rows: auto  ;
    // border: solid .25em $color-accentOne;
    // border-radius: 1em;
    // box-shadow: 0em 0em .5em .5em $color-medium;
    // margin:1em;


}
.walkerFullscheduleWrap__eventModal{
    width: 100%;
    &--closeButton {
        font-family: $font-sans;
        padding: .5em 1em;
        font-size: 3em;
        text-align: center;
        color: $color-accentWhite;
        background-color: $color-accentOne;
        border-radius: .5em;
        border: solid 2px $color-accentWhite;
        cursor: pointer;
    }
    &--closeButton:hover {
        background-color: transparent;
        color: $color-accentOne;
        text-shadow: 2px 2px 8px $color-accentOne;
    }
    &--eventTitle {
        color: $color-accentOne;
        font-size: 6em;
        font-family: $font-headingD;
        text-align: center;
    }
    &--eventBody {
        font-family: $font-sans;
        font-size: 3em;
        color: $color-darkest;

    }
}