.showMap{
    margin: 3em;
    &__title{
        font-family: $font-headingD;
        font-size: 3em;
        margin: .5em;
        color: $color-accentOne;
        text-align: center;
    }
    &__button{
        &--checkIn{
            font-family: $font-sans;
            font-size: 2em;
            text-align: center;
            color: $color-accentWhite;
            background-color: $color-accentOne;
            padding: .5em 1em;
            border-radius: .5em;
            border: solid 2px $color-accentWhite;
            margin: 1em 1em;

        }
        &--checkIn:hover{
            background-color: transparent;
                letter-spacing: 0.1em;
                text-shadow: 2px 2px 8px $color-accentOne

        }
        &--checkOut{
            font-family: $font-sans;
            font-size: 2em;
            text-align: center;
            color: $color-accentWhite;
            background-color: $color-accentOne;
            padding: .5em 1em;
            border-radius: .5em;
            border: solid 2px $color-accentWhite;
            margin: 1em 1em;

        }
        &--checkOut:hover{
            background-color: transparent;
                letter-spacing: 0.1em;
                text-shadow: 2px 2px 8px $color-accentOne

        }
    }
}
