.topBarWalker{
    background-image: radial-gradient( $color-lightest, $color-lighter);
    // background-color: blue;
    border:solid .25em $color-accentOne;
    border-radius: 1em;
    display: grid;
    grid-template-columns: auto auto 1fr ;
    grid-template-rows:  1fr ;
    // justify-content: center;
    box-shadow: 0em 0em .5em .5em $color-darkest;


    &__title{
        grid-area: 1/2;
        font-family: $font-headingD;
        font-size: 3em;
        color: $color-accentOne;
        margin: .75em 1em;
    }
    &__brand{
        grid-area: 1/1;
        margin: 0em 1em;
        
        &--logo{
            height: 4em;
            font-size: 1em;
            // border: solid .25em $color-accentOne;
            border-radius: 1em;
            padding: 1.5em;
            // box-shadow:    0 0 12px $color-light;
        }
        &--logotooltip{
            visibility: hidden;
            background-color: $color-accentOne;
            color: $color-lightest;
            text-align: center;
            font-size: 1em;
            position:absolute;
            z-index: 1;
        }
        &--logo:hover{
            background-color: $color-lightest;
        }
    }
    &__nav{
        grid-area: 1/3;
        font-size: 2.5em;
        display: grid;
        grid-template-columns: (9) 1fr;
        grid-template-rows:  1fr;
        justify-content: right;

        &--itemLink{
            font-style: bold;
            color: black;
            // outline: none;
            // background-color: transparent;
            // text-decoration: none; 
        }
        &--itemLink:hover{
            color: $color-accentOne;
        }
        &--itemDashboard{
            grid-area: 1/3;
            padding: .5em 1.5em;
            background-color: transparent;
            border-radius: .5em;
            border: solid 2px $color-accentOne;
            margin: .25em .25em;
            box-shadow:    0 0 12px $color-light;
            outline: none;
            text-decoration: none; 
        }
        &--itemDashboard:hover{
            background-color: $color-lightest;
        }
        &--profile{
            height: 1.5em;
            outline: none;
            background-color: transparent;
        }
        &--itemWalks{
            grid-area:1/4;
            padding: .5em 1.5em;
            background-color: transparent;
            border-radius: .5em;
            border: solid 2px $color-accentOne;
            margin: .25em .25em;
            box-shadow:    0 0 12px $color-light;
            outline: none;
            text-decoration: none;
        }
        &--itemWalks:hover{
            background-color: $color-lightest;
        }
        &--walks{
            height:1.5em;
            
        }
        &--itemSchedWalks{
            grid-area: 1/5;
            padding: .5em 1.5em;
            background-color: transparent;
            border-radius: .5em;
            border: solid 2px $color-accentOne;
            margin: .25em .25em;
            box-shadow:    0 0 12px $color-light;
            outline: none;
            text-decoration: none;
        }
        &--itemSchedWalks:hover{
            background-color: $color-lightest; 
        }
        &--schedule{
            height: 1.5em;
        }
        &--itemInvite{
            grid-area: 1/6;
            padding: .5em 1.5em;
            background-color: transparent;
            border-radius: .5em;
            border: solid 2px $color-accentOne;
            margin: .25em .25em;
            box-shadow:    0 0 12px $color-light;
            outline: none;
            text-decoration: none;
        }
        &--itemInvite:hover{
            background-color: $color-lightest;
        }
        &--invite{
            height: 1.5em;
        }
        &--itemGallery{
            grid-area: 1/7;
            padding: .5em 1.5em;
            background-color: transparent;
            border-radius: .5em;
            border: solid 2px $color-accentOne;
            margin: .25em .25em;
            box-shadow:    0 0 12px $color-light;
            outline: none;
            text-decoration: none;
        }
        &--itemGallery:hover{
            background-color: $color-lightest;
        }
        &--images{
            height: 1.5em;
        }
        &--itemLogout{
            grid-area: 1/8;
            padding: .5em 1.5em;
            background-color: transparent;
            border-radius: .5em;
            border: solid 2px $color-accentOne;
            margin: .25em .25em;
            box-shadow:    0 0 12px $color-light;
            outline: none;
            text-decoration: none;
        }
        &--itemLogout:hover{
            background-color: $color-lightest;
        }
        &--logout{
            height: 1.5em;
        }
    }


}