.walkerrdtPicker{
    margin: 1em;
    display: grid;
    grid-template-columns:  1fr ;
    grid-template-rows: (4) 1fr;
    // justify-content: center;
    grid-gap: 1em;


    &__title{
        grid-area: 1/1;
        text-align: center;
        font-family: $font-headingD;
        color: $color-accentOne;
        font-size: 4em;
        margin:.5em;
    }
    &__picker{
        align-self: center;
        margin-top: 1em;
        grid-area: 2/1;
        font-size:2em;
        
    }
    &__select{
        grid-area: 3/1;
        margin: 1em;
        font-size: 2em;
    }
    &__button{
        grid-area: 4/1;
        align-self: center;
        font-family: $font-sans;
        padding: .8em .5em;
        font-size: 2em;
        text-align: center;
        color: $color-accentWhite;
        background-color: $color-accentOne;
        border-radius: .5em;
        border: solid 2px $color-accentWhite;
        cursor: pointer;
        
    }
    &__button:hover{
        background-color: transparent;
        letter-spacing: 0.1em;
        color: $color-accentOne;
        text-shadow: 2px 2px 8px $color-accentOne;
        
    }
}
.react-datetime-picker__wrapper{
    height: 4em;
    padding: 1em;
    background-color: $color-light;
    border-radius: .5em;
    
}
.react-datetime-picker__inputGroup__divider{
    color: $color-accentOne;
    font-weight: bold;
    
}
button.css-1r4vtzz{
    background-color: $color-light;
    font-family: $font-sans;
    color: $color-darkest;
    font-size: 1.25em;
    padding: .5em 1.5em;
    border:solid 1px $color-medium;
    border-radius: .25em;
    
}
button.css-48ayfv {
    background-color: $color-light;
    font-family: $font-sans;
    color: $color-darkest;
    font-size: 1.25em;
    padding: .5em 1.5em;
    border-radius: .25em;
}