.rdtPicker{
    margin: 2em;
    display: grid;
    grid-template-columns: .1fr auto .25fr;
    grid-template-rows: auto auto auto ;

    &__title{
        grid-area: 1/1/4/2;
        text-align: center;
        font-family: $font-cursive;
        color: $color-accentOne;
        font-size: 4em;
        margin:.5em;
    }
    &__picker{
        margin-top: 2em;
        grid-area: 1/2;
        justify-content: center;
        font-size:3em;
        
    }
    &__select{
        display: flex;
        grid-area: 2/2;
        font-size: 3em;
        margin: 4em;
        font-size:3em;
    }
    &__button{
        grid-area: 3/2;
        justify-self: right;
        font-family: $font-sans;
        font-size: 3em;
        text-align: center;
        color: $color-accentOne;
        background-color: $color-dark;
        padding: .5em 1em;
        border-radius: .5em;
        border: solid 2px $color-accentOne;
        margin: 1em 0em;
        cursor: pointer;
       
    }
    &__button:hover{
        background-color: $color-darkest;
        letter-spacing: 0.1em;
        color: $color-accentOne;
        
        
    }
}
.react-datetime-picker__wrapper{
    height: 4em;
    padding: 1em;
    background-color: $color-light;
    border-radius: .5em;
    
}
.react-datetime-picker__inputGroup__divider{
    color: $color-accentOne;
    font-weight: bold;
    
}
// button.css-1r4vtzz{
//     background-color: $color-light;
//     font-family: $font-sans;
//     color: $color-darkest;
//     font-size: 1.25em;
//     padding: .5em 1.5em;
//     border:solid 1px $color-medium;
//     border-radius: .25em;
   
// }
button.css-48ayfv {
    background-color: $color-light;
    font-family: $font-sans;
    color: $color-darkest;
    font-size: 1.25em;
    padding: .5em 1.5em;
    border-radius: .25em;
}