//color variables
// $color-lightest: #f2ecde;
// $color-light:  #cec8bb;
// $color-medium: #969084;
// $color-dark:  #595348;
// $color-darkest: #28251f;

$color-lightest: #e6e6e6;
$color-lighter: #bfbfbf;
$color-light:  #a6a6a6;
$color-mid: #808080;
$color-medium: #4d4d4d;
$color-dark:  #333333;
$color-darkest: #1a1a1a;
$color-moredark: #0d0d0d;


$color-accentWhite:#e7f6fd;
$color-accentLight: #7ECEFF;
$color-accentOne: #1190cb;

$font-sans: 'Thasadith', sans-serif;
$font-cursive: 'Over the Rainbow', cursive;
$font-headingA: 'Righteous', cursive;
$font-headingB: 'Luckiest Guy', cursive;
$font-headingC: 'Carter One', cursive;
$font-headingD: 'Mouse Memoirs', sans-serif;


// font-family: 'Proza Libre', sans-serif;
// font-family: 'Thasadith', sans-serif;
//font-family: 'Waiting for the Sunrise', cursive;
//font-family: 'Over the Rainbow', cursive;
// font-family: 'Righteous', cursive;
// font-family: 'Luckiest Guy', cursive;
// font-family: 'Carter One', cursive;
// font-family: 'Mouse Memoirs', sans-serif;