.walkersplash{
    // background-image: "../images/splashImage_01.jpg";
    &__bg{
        width: 100%;
        position: relative;
        text-align: center;
        color: $color-accentOne;
        &--headingT{
            font-family: $font-headingC;
            font-size: 35em;
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%); 
            animation-name: movingT;
            animation-duration: 20s;
            animation-timing-function: ease;
            @include responsive(t-port) { // width < 900?
                animation-name: none; //1rem = 8px 8/16 = 50%
              }
        }
        &--headinga{
            font-family: $font-headingC;
            font-size: 20em;
            position: absolute;
            top: 50%;
            left: 46%;
            transform: translate(-50%, -50%);
            animation-name: movinga;
            animation-duration: 20s;
            animation-timing-function: ease;
            @include responsive(t-port) { // width < 900?
                animation-name: none; //1rem = 8px 8/16 = 50%
              } 
        }
        &--headingi{
            font-family: $font-headingC;
            font-size: 20em;
            position: absolute;
            top: 50%;
            left: 51%;
            transform: translate(-50%, -50%);
            animation-name: movingi;
            animation-duration: 20s;
            animation-timing-function: ease; 
            @include responsive(t-port) { // width < 900?
                animation-name: none; //1rem = 8px 8/16 = 50%
              }
        }
        &--headingl{
            font-family: $font-headingC;
            font-size: 20em;
            position: absolute;
            top: 50%;
            left: 54%;
            transform: translate(-50%, -50%);
            animation-name: movingl;
            animation-duration: 20s;
            animation-timing-function: ease; 
            @include responsive(t-port) { // width < 900?
                animation-name: none; //1rem = 8px 8/16 = 50%
              }
        }
        &--headingm{
            font-family: $font-headingC;
            font-size: 29em;
            position: absolute;
            top: 50%;
            left: 64%;
            transform: translate(-50%, -50%);
            animation-name: movingm;
            animation-duration: 20s;
            animation-timing-function: ease-out; 
            @include responsive(t-port) { // width < 900?
                animation-name: none; //1rem = 8px 8/16 = 50%
              }
        }
        &--headinge{
            font-family: $font-headingC;
            font-size: 20em;
            position: absolute;
            top: 50%;
            left: 74%;
            transform: translate(-50%, -50%);
            animation-name: movinge;
            animation-duration: 20s;
            animation-timing-function: ease-out; 
            @include responsive(t-port) { // width < 900?
                animation-name: none; //1rem = 8px 8/16 = 50%
              }
        }
        &--image{
            width: 100%;
            position: relative;
            z-index: -2;
        }
        &--imageshadow {
            width: 100%;
            box-shadow: inset 0 0 15em 7.5em $color-medium;
            @include responsive(t-port) { // width < 900
                box-shadow: inset 0 0 7.5em 3.75em $color-medium;
            }
            @include responsive(phone) { // width < 600
                box-shadow: inset 0 0 3.75em 1.375em $color-medium;
            }

        }
        &--subheadingA{
            font-size: 3em;
            color: $color-accentWhite;
            position: absolute;
            top: 70%;
            left: 55%;
            transform: translate(-50%, -50%);
            animation-name: subheadingFade;
            animation-duration: 20s;
            animation-timing-function: ease;
            @include responsive(t-port) { // width < 900?
                animation-name: none; //1rem = 8px 8/16 = 50%
              }

        }
        &--subheadingB{
            font-size: 3em;
            color: $color-accentWhite;
            position: absolute;
            top: 75%;
            left: 55%;
            transform: translate(-50%, -50%);
            animation-name: subheadingFade;
            animation-duration: 20s;
            animation-timing-function: ease;
            @include responsive(t-port) { // width < 900?
                animation-name: none; //1rem = 8px 8/16 = 50%
              }
            
        }
        &--icon{
            height: 60em;
            position: absolute;
            opacity: .20;
            top:32.5%;
            left: 84%;
            transform: translate(-50%, -50%);
            animation-name: iconFade;
            animation-duration: 20s;
            animation-timing-function: ease;
            @include responsive(t-port) { // width < 900
                height: 40em; 
            }
            @include responsive(phone) { // width < 600
                height: 25em; 
            }
        }
    }
    &__nav{
        position: sticky;
        width: 100%;
        top: 0;
        height: 10em;
        background: $color-accentOne;
        z-index: 2;
        @include responsive(t-port-mid-land) { // width < 1010
            height: 6em; 
        }
        @include responsive(t-port-phone) { // width < 760
            height: 4em; 
        }
            
            &--userregistration{
                float: right;
                font-family: $font-sans;
                font-size: 2em;
                text-align: center;
                color: $color-accentWhite;
                background-color: transparent;
                padding: .5em 1em;
                margin: .5em 1em;
                border-left: 2px solid $color-accentWhite;
                outline: none;
                text-decoration: none;
            }
            &--userregistration:hover{
                background-color: transparent;
                color: $color-darkest;
                text-shadow: 2px 2px 8px $color-accentWhite;
                outline: none; 
                text-decoration: none
            }
        
        
            
            &--walkerauthentification{
                float: right;
                font-family: $font-sans;
                font-size: 2em;
                text-align: center;
                color: $color-accentWhite;
                background-color: transparent;
                padding: .5em 1em;
                border-left: solid 2px $color-accentWhite;
                margin: .5em 1em;
                outline: none;
                text-decoration: none;  
            }
            &--walkerauthentification:hover{
                background-color: transparent;
                color: $color-darkest;
                text-shadow: 2px 2px 8px $color-accentWhite;
                outline: none; 
                text-decoration: none 
            }
            &--walkerregistration{
                float: right;
                font-family: $font-sans;
                font-size: 2em;
                text-align: center;
                color: $color-accentWhite;
                background-color: transparent;
                padding: .5em 1em;
                // border-left: solid 2px $color-accentWhite;
                margin: .5em 1em;
                outline: none;
                text-decoration: none;  
            }
            &--walkerregistration:hover{
                background-color: transparent;
                color: $color-darkest;
                text-shadow: 2px 2px 8px $color-accentWhite;
                outline: none; 
                text-decoration: none
            }
        }

    &__grid{
    color: $color-lightest;
    display:grid;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: auto 1fr auto auto auto auto 1fr;   
    grid-gap: 4em;
    justify-content: center;
    align-content: center;
    &--logo{
        grid-area: 1/2/2/5;
        margin-top: 4em;
        justify-self: center; 
        border-bottom: solid 2px $color-accentOne;
        @include responsive(t-port) { // width < 900
            width: 20em; 
        }
    }
    &--text{
        grid-area: 2/2/3/5;
        font-size: 2.5em;
        justify-self: center;
        margin: 0 4em 4em 4em;
        @include responsive(t-port) { // width < 900
            margin: 0 4em 4em 4em;
        }
    }
   
    
    &--profileIcon{
        grid-area: 3/2;
        height: 12em;
        justify-self: center;
        @include responsive(t-port) { // width < 900
            height: 8em; //1rem = 8px 8/16 = 50%
        }
    }
    &--profileText{
        grid-area: 4/2;
        font-size: 2em;

    }
    &--walkIcon{
        grid-area: 3/3;
        height: 12em;
        justify-self: center;
        @include responsive(t-port) { // width < 900
            height: 8em; //1rem = 8px 8/16 = 50%
        }
    }
    &--walkText{
        grid-area: 4/3;
        font-size: 2em;

    }
    &--scheduleIcon{
        grid-area: 3/4;
        height: 12em;
        justify-self: center;
        @include responsive(t-port) { // width < 900
            height: 8em; //1rem = 8px 8/16 = 50%
        }
    }
    &--scheduleText{
        grid-area: 4/4;
        font-size: 2em;

    }
    &--inviteIcon{
        grid-area: 5/2;
        height: 12em;
        justify-self: center;
        @include responsive(t-port) { // width < 900
            height: 8em; //1rem = 8px 8/16 = 50%
        }
    }
    &--inviteText{
        grid-area: 6/2;
        font-size: 2em;

    }
    &--mapIcon{
        grid-area: 5/3;
        height: 12em;
        justify-self: center;
        @include responsive(t-port) { // width < 900
            height: 8em; //1rem = 8px 8/16 = 50%
        }
    }
    &--mapText{
        grid-area: 6/3;
        font-size: 2em;

    }
    &--imagesIcon{
        grid-area: 5/4;
        height: 12em;
        justify-self: center;
        @include responsive(t-port) { // width < 900
            height: 8em; //1rem = 8px 8/16 = 50%
        }
    }
    &--imagesText{
        grid-area: 6/4;
        font-size: 2em;

    }
   
    &--walkerListText{
        grid-area: 7/2;
        font-size: 3em;
        
    }
    
    
}
         
    &__footer{
        margin-top: 8em;
        grid-area: 8/2/8/5;
        display: flex;
        justify-content: center;
    }
    
}