.splash{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    justify-content: center;
    align-content: center;
    &__logo{
        grid-column:2;

        
    }
}