.main-content-certify{
    height: 100%;
    display: grid;
    grid-template-columns:1fr auto 1fr;
    grid-template-rows: auto 1fr  auto;
    &__title{
        grid-area: 1/2;
        font-family: $font-cursive;
        padding: 1em;
        color: $color-accentOne;
        font-size: 5em;
    }
    &__form{
        color: $color-light;
        grid-area: 2/2;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr auto;

        &--certificationsLabel{
            grid-area: 1/1;
            justify-self: right;
            font-size: 3em;
        }
        &--certificationsInput{
            grid-area: 1/2;
            font-family: $font-sans;
            font-size: 3em;
            padding: .5em;
            border: solid 2px $color-darkest;
            border-radius: .5em;
            align-self: flex-start;
            background-color: $color-dark;
            color: $color-light;
        }
        &--servicesLabel{
            grid-area: 2/1;
            justify-self: right;
            font-size: 3em;
        }
        &--servicesInput{
            grid-area: 2/2;
            font-family: $font-sans;
            font-size: 3em;
            padding: .5em;
            border: solid 2px $color-darkest;
            border-radius: .5em;
            align-self: flex-start;
            background-color: $color-dark;
            color: $color-light;
        }
        &--availibilityLabel{
            grid-area: 3/1;
            justify-self: left;
            font-size: 3em;
        }
        &--availibilityStatus{
            grid-area: 3/2;
            font-family: $font-sans;
            font-size: 3em;
            padding: .5em;
            border: solid 2px $color-darkest;
            border-radius: .5em;
            align-self: flex-start;
            background-color: $color-dark;
            color: $color-light;
        }
        &--button{
            grid-area: 4/2;
            justify-self: center;
            font-family: $font-sans;
            font-size: 3em;
            text-align: center;
            color: $color-accentOne;
            background-color: $color-dark;
            padding: .5em 1em;
            border-radius: .5em;
            border: solid 2px $color-accentOne;
            margin: 1em 0em;
        }
        &--button:hover{
            background-color: $color-darkest;
            letter-spacing: 0.1em;
            text-shadow: 2px 2px 8px $color-accentOne;
        }
    }
}