.main-content-certify{
    height: 100%;
    display: grid;
    grid-template-columns:.1fr 1fr 1fr .1fr;
    grid-template-rows: 1fr auto auto;
    margin: 2em;
    &__title{
        grid-area: 1/3;
        font-family: $font-headingD;
        padding: 1em;
        color: $color-accentOne;
        font-size: 5em;
    }
    &__form{
        color: $color-darkest;
        grid-area: 1/2;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr auto;
        grid-gap: 1em;

        &--certificationLabel{
            grid-area: 1/1;
            justify-self: right;
            font-size: 3em;
        }
        &--certificationInput{
            grid-area: 1/2;
            font-family: $font-sans;
            font-size: 3em;
            padding: .5em;
            border: solid 2px $color-light;
            border-radius: .5em;
            background-color: $color-accentWhite;
            color: $color-dark; 
            box-shadow:   inset 0 0 12px $color-accentLight;
            outline: none;
            text-decoration: none;
        }
        &--insuranceLabel{
            grid-area: 2/1;
            justify-self: right;
            font-size: 3em;
        }
        &--insuranceInput{
            grid-area: 2/2;
            font-family: $font-sans;
            font-size: 3em;
            padding: .5em;
            border: solid 2px $color-light;
            border-radius: .5em;
            background-color: $color-accentWhite;
            color: $color-dark; 
            box-shadow:   inset 0 0 12px $color-accentLight;
            outline: none;
            text-decoration: none;
        }
        &--bondLabel{
            grid-area: 3/1;
            justify-self: right;
            font-size: 3em;
        }
        &--bondInput{
            grid-area: 3/2;
            font-family: $font-sans;
            font-size: 3em;
            padding: .5em;
            border: solid 2px $color-light;
            border-radius: .5em;
            background-color: $color-accentWhite;
            color: $color-dark; 
            box-shadow:   inset 0 0 12px $color-accentLight;
            outline: none;
            text-decoration: none;
        }
        &--servicesLabel{
            grid-area: 4/1;
            justify-self: right;
            font-size: 3em;
        }
        &--servicesInput{
            grid-area: 4/2;
            font-family: $font-sans;
            font-size: 3em;
            padding: .5em;
            border: solid 2px $color-light;
            border-radius: .5em;
            background-color: $color-accentWhite;
            color: $color-dark; 
            box-shadow:   inset 0 0 12px $color-accentLight;
            outline: none;
            text-decoration: none;
        }
        &--availibilityLabel{
            grid-area: 5/1;
            justify-self: right;
            font-size: 3em;
        }
        &--availibilityStatus{
            grid-area: 5/2;
            font-family: $font-sans;
            font-size: 3em;
            padding: .5em;
            border: solid 2px $color-light;
            border-radius: .5em;
            background-color: $color-accentWhite;
            color: $color-dark; 
            box-shadow:   inset 0 0 12px $color-accentLight;
            outline: none;
            text-decoration: none;
        }
        &--button{
            grid-area: 6/2;
            justify-self: right;
            font-family: $font-sans;
            padding: .8em .5em;
            font-size: 2em;
            text-align: center;
            color: $color-accentWhite;
            background-color: $color-accentOne;
            border-radius: .5em;
            border: solid 2px $color-accentWhite;
            cursor: pointer;
        }
        &--button:hover{
            background-color: transparent;
            letter-spacing: 0.1em;
            color: $color-accentOne;
            text-shadow: 2px 2px 8px $color-accentOne;
        
        }
    }
}