body {
    margin: 0;
    padding: 0; 
    background-color: $color-medium;
    color: $color-lightest;
    font-family: $font-sans;
  }

html {
    font-size: 62.5%;
    @include responsive(l-desk) {
      font-size: 75%; //1rem = 12px 12/16 = 75%
    }
    @include responsive(t-view) {
      font-size: 62.5%; 
    }
  
    @include responsive(t-land) { // width < 1200?
      font-size: 56.25%; //1rem = 9px 9/16 = 56.25%
    }

    @include responsive(t-land-port) { // width < 1130
      font-size: 53%; //
    }

    @include responsive(t-port-land) { // width < 1060
      font-size: 51%; //
    }

    @include responsive(t-port-mid-land) { // width < 1010
      font-size: 45%; //
    }
    
    @include responsive(t-port) { // width < 900?
      font-size: 37.5%; //1rem = 8px 8/16 = 50%
    }

    @include responsive(t-port-phone) { // width < 760?
      font-size: 30%; //
    }
  
    @include responsive(phone) { // width < 600?
      font-size: 25.5%; //1rem = 6px 6/16 = 37.5%
    }
    @include responsive(mid-mini) { //
      font-size: 22%; //
    }
    @include responsive(mini) { //
      font-size: 20%; //
    }
}
a {
  
  text-decoration: none;
  color: $color-lightest;
  outline: none; }

a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
  outline: none; }

a:visited {
  /* Applies to all visited links */
  text-decoration: none;
  outline: none; }

a:hover {
  /* Applies to links under the pointer */
  
  text-decoration: none;
  outline: none; }

a:active {
  /* Applies to activated links */
  text-decoration: none;
  outline: none; }

  input:-webkit-autofill {
    // border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 0px 9999px $color-lightest;

  }
  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }